.domManipulation{
    border:1px solid black;
}

.eventlistner{
    margin-top: 20px;
    border:1px solid black;
    min-height: 200px;
    padding:20px;
    background-color: lightgrey;
}

#eventHeading {
    background-color: turquoise;
    padding:10px;
    text-align: center;
    border:1px solid blue;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}


#eventPara{
    background-color: rgb(174, 65, 65);
    padding:10px;
    text-align: center;
    border:1px solid blue;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

#eventButton{
    border-radius: 5px;
    color:black;
    transition: all 0.5s;
}

.dark{
    background-color:black;
    color:white;
    margin-right: 22px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

